.hero{
    max-width: 1000px;
    width: 100%;
}
.hero-inner {
    display: flex;
    align-items: center;
}
.header {
    color: white;
}
.span-2 {
    color: white;
    margin-right: 10px;
}
.span-1 {
    color: white;
    margin-right: 2px;
}